<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.READ_APP_SPECIFIC_LOCALES"
        tools:ignore="ProtectedPermissions" />

    <!-- ExoPlayer: Bluetooth Headsets -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />




    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPSAT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LockActivity"
            android:exported="false" />


        <activity
            android:name=".presentation.activities.LiveTvActivity"
            android:autoRemoveFromRecents="true"
            android:canDisplayOnRemoteDevices="true"
            android:configChanges="uiMode|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:excludeFromRecents="true"

            android:exported="false"
            android:launchMode="singleTask"

            android:noHistory="true"
            android:resizeableActivity="true"
            android:rotationAnimation="rotate"
            android:screenOrientation="unspecified"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".presentation.activities.PlayerSeriesActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="uiMode|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".presentation.activities.PlayerActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="uiMode|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".presentation.activities.TrailerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.activities.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="db1799867298426ac1542c62acf034e5"/>

    </application>

</manifest>